# --- Go ---
/bin
/dist
/vendor
*.exe
*.test
*.prof
go.work

# Binaries
tusk
tusk.exe

# --- Tusk Engine ---
.tusk/
config.json
*.log

# --- PHP ---
/vendor
composer.lock
.phpunit.result.cache

# --- IDEs ---
.idea/
.vscode/
*.swp
*.swo

# --- System ---
.DS_Store
Thumbs.db
